/*impote de tipo de letra */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;600;800&display=swap');
/* selector universal*/
*{
    margin: 0;
    padding: 0;
   /* font-family: 'Golos Text';*/
}
/* tipo de letra */
h1{

    font-weight: 900;
    color: midnightblue;
}
/* selector de estiqueta */
h2{
    color: sandybrown;
    font-family: 'Golos Text';
}
/*selector de id*/
#site_text{
    background-color: hotpink;
}
/*selector de clases*/
.subtitles{
    font-family: 'Golos Text';
}
/* selector por atributo */
[disabled]{
    background-color: lavender;
}

/* selector por id - Boton enviar */
#btn_send{
    margin: 50px;
    padding: 50px;
}
/*psudo clases*/
#btn_send:hover{
    background-color: mediumorchid;
    color: powderblue;
    font-size: 20px;
}

#papa{
    margin-left: 50px;
    border: 2px solid red;
    border-radius: 10px;
}
.hermanos{
    background-color: olive;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px;
}
#nh_uno{
    color: pink;

}
/*selector desendente hijo */
#papa > .hermanos > #nh_uno{
    color: lemonchiffon;
}
/*selector desendente*/
#papa .nieto{
    color: blue;
}

#title_box{
    color: #00f;
    font-family: 'golod text', sans-serif;
    background-color: aqua;
    text-align: center;
    padding-left: 20px;
    margin: 50px;
    border: 5px double #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px blue;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-size: 100px;
}
#box_father{
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background-image: url(https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media( max-width: 1280) and (min-width: 800px) {
    body{
        background-color: red;
    }
}
    /* mediaquery de 799 para abajo */
@media ( max-width: 799px){
body{
    background-image: url(https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
}

